<div class="container">
    <h2>
        Pague seu ticket
    </h2>
    <p>Você pode usar seu Cartão de Crédito ou Débito</p>

    <form #paymentForm="ngForm" class="form-container">
        <div class="form-item">
            <label for="ccNum">
                Número do Cartão
            </label>
            <input type="text"
                placeholder="Digite os 14 dígitos do cartão"
                required
                pattern="[0-9]{14}"
                name="ccNum"
                [(ngModel)]="paymentDetails.no"
                #ccNum>
        </div>
        <div class="form-item">
            <label for="cvv">
                CVV
            </label>
            <input type="text"
                placeholder="Digite o CVV do cartão"
                required
                min="3"
                max="5"
                pattern="^(\d{3,5})$"
                name="cvv"
                [(ngModel)]="paymentDetails.cvv"
                #cvv>
        </div>
        <div class="form-item">
            <label for="expiry">
                Validade
            </label>
            <input type="date"
                placeholder="Digite a data de validade do cartão"
                required
                min="2018-08-27"
                max="2030-08-27"
                name="expiry"
                [(ngModel)]="paymentDetails.expiry"
                #expiry>
        </div>
        <button class="form-btn btn-blue"
            (click)="callPaymentApi(paymentForm.form)">
            Pagar
        </button>
    </form>
</div>