<div class="intro-section">
    <h1>
        Bem-vindo
    </h1>
    <p>
        {{ user.first_name }} {{ user.last_name }}
    </p>
</div>

<div class="ticket-container">
    <div class="ticket-item">
        <label>
            Veículo
        </label>
        <span>
            {{ user.car.color }}
            {{ user.car.manufacturer }}
            {{ user.car.model }}
        </span>
    </div>
    <div class="ticket-item">
        <label>
            Placa
        </label>
        <span>
            {{ user.car.reg_no }}
        </span>
    </div>
    <div class="ticket-item">
        <label>
            Valor {{ (user.ticket.paid)? "Pago" : "Pendente" }}
        </label>
        <span>
            {{ user.ticket.amount | currency }}
        </span>
    </div>

    <div class="qr-section" *ngIf="ticket_no">
        <qrcode [qrdata]="qrData" [size]="180" [level]="'M'"></qrcode>
        <p class="qr-label">Apresente este QR Code ao manobrista</p>
    </div>

    <button class="form-btn btn-blue"
        (click)="performCta()">
        {{ buttonCtaText }}
    </button>
</div>

<div *ngIf="showPayment">
    <app-payment [amount]="user.ticket.amount" [ticketNo]="user.ticket.no"></app-payment>
</div>