<div class="container">
    <div>
        <h1 class="no-margin-bottom">
            Obrigado por utilizar o 2M Parking.
        </h1>
        <p class="no-margin-top">
            Mostre este QR Code ao manobrista para retirar seu veículo
        </p>
    </div>

    <div class="qr-code">
        <qrcode [qrdata]="qrcode"
                [size]="256"
                [level]="'M'">
        </qrcode>
    </div>

    <div>
        <p>
            Pressione concluído quando retirar seu veículo.
        </p>
        <button class="form-btn btn-blue">
            Concluído
        </button>
    </div>
</div>