<div class="container">
    <h1>
        Faça login para ver seu ticket eletrônico
    </h1>
    <form #loginForm="ngForm" class="form-container">
        <div class="form-item">
            <label for="ticket_no">
                Nº do Ticket
            </label>
            <input type="text"
                name="ticket_no"
                [(ngModel)]="userModel.ticket_no"
                #ticketNo
                disabled
            >
        </div>
        <div class="form-item">
            <label for="phone">
                Telefone
            </label>
            <input type="tel"
                name="phone"
                placeholder="Formato: +55-11-912345678"
                [(ngModel)]="userModel.phone"
                #phone="ngModel"
                required
                pattern="[+]?\d{1,3}-\d{1,3}-\d{7,8}"
                (focus)="onFocus('phone')"
                (blur)="onBlur('phone')"
                [ngClass]="{
                    'input-invalid': phone.invalid &&
                                    (phone.touched || loginPressed),
                    'input-valid': phone.valid && phone.touched && !focus.phone
                }"
            >
            <!-- form validation -->
            <div class="error-container"
                *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                <div class="error" *ngIf="phone.errors.required">
                    <span>
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    Telefone é obrigatório.
                </div>
                <div class="error" *ngIf="phone.errors.pattern">
                    <span>
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    O formato não corresponde. Digite no formato: +(código do país)-(código da cidade)-(número do telefone)
                </div>
            </div>
        </div>
        <div class="form-item">
            <label for="reg_no">
                Placa do Veículo
            </label>
            <input type="text"
                name="reg_no"
                placeholder="Digite a placa do seu veículo"
                [(ngModel)]="userModel.reg_no"
                #regNo="ngModel"
                required
                (focus)="onFocus('regNo')"
                (blur)="onBlur('regNo')"
                [ngClass]="{
                    'input-invalid': regNo.invalid &&
                                    (regNo.touched || loginPressed),
                    'input-valid': regNo.valid && regNo.touched && !focus.regNo
                }"
            >
            <!-- form validation -->
            <div class="error-container"
                *ngIf="regNo.invalid && (regNo.touched || regNo.dirty)">
                <div class="error" *ngIf="regNo.errors.required">
                    <span>
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    Placa do veículo é obrigatória.
                </div>
            </div>
        </div>
        <button class="form-btn btn-blue"
            (click)="login(loginForm.form)">
            Entrar e ver ticket
        </button>
    </form>
</div>
